* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img,
input {
    display: block;
}

.w {
    width: 950px;
    margin: 0 auto;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ar {
    text-align: right;
}

.ac {
    text-align: center;
}